/*
 * Zachary Cook
 *
 * Theme for the chat.
 */

div.chat-container {
    right: 0px;
    bottom: 0px;
    height: 0px;
}

div.chat-window-container {
    position: fixed;
    float: left;
    width: 17.5rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    bottom: 0px;
}

div.chat-inner-window-container {
    height: 20rem; 
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.125);
}

div.y-scrollable { 
    overflow-x: hidden;
    overflow-y: scroll;
}

div.chat-window-header { 
    background-color: #0099DD;
    font-weight: 600;
    padding: 0.25rem;
    padding-left: 0.5rem;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    width: 100%;
}

div.chat-title {
    float: left;
    width: 15.5rem;
}

span.chat-close {
    padding-right: 0.5rem;
    text-align: right;
    width: 100%;
}

div.chat-contact-container {
    height: 3rem; 
    background-color: #FFFFFF;
    border: 1px solid rgba(0,0,0,.125);
    transition: background-color 0.15s ease-in-out;
}

div.chat-contact-container:hover {
    background-color: #EEEEEE;
}

img.chat-contact-picture {
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
}

div.chat-messages-container {
    width: 100%;
    height: 17.8rem;
}

div.chat-message {
    margin: 0.25rem;
    padding: 0.5rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(0,0,0,.125);
    max-width: 80%;
}

div.chat-sender-other {
    background-color: rgb(230,230,230);
}

div.chat-sender-self {
    background-color: rgb(250,250,250);
    left: 17.5%;
    position: relative;
}

img.chat-message-image {
    width: 100%;
}

input.chat-text-box {
    width: 99%;
    margin: 0px;
    position: absolute;
    border-left: 0px;
    border-right: 0px;
    border-top: 1px solid rgba(0,0,0,.125);
    bottom: 0px;
    padding: 0.25rem;
}

input.chat-text-box::placeholder {
    color: #777777;
}