.description {
  border: 1px solid #dee2e6;
}

.author {
  margin-left: 2em;
  padding: 0.375rem 0.75rem;
  float: right;
}
.profile-image {
  float: right;
}

.comment-form {
  margin-bottom: 3%;
}

.card-comment {
  width: 100%;
}

.comment-name {
  margin-top: 1%;
}

.buy-Button {
  margin-left: 1em;
}
